extends ../templates/templateApp.jade

block title
	title Coleccion

block titleSection
	p Coleccion

block content
	button.btn.btn-raised.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal') Launch demo modal

	#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
					h4#myModalLabel.modal-title Modal title
				.modal-body
					p Hola
				.modal-footer
					button.btn.btn-raised.btn-danger(type='button', data-dismiss='modal') Close
					button.btn.btn-raised.btn-primary(type='button') Save changes

	form.form-horizontal
		for field in form.fields
			.form-group
				if (field.type == 'ref' )
					label.col-sm-2.control-label(for='#{collection}') #{field.label}
					.col-sm-10
						select.form-control(type='#{field.type}', name='', id='#{collection}' required="#{field.required}")
						for option in field.options
							option(value='#{option[field.input.value]}') #{option[field.input.text]}
				else if (field.type == 'checkbox' )
					.checkbox
						label
							input(type="#{field.type}")
							span #{field.label}
				else if (field.type == 'file' )
					label.col-sm-2.control-label(for='#{collection}') #{field.label}
					.col-sm-10
						input.form-control(type='#{field.type}', name='#{name}', id='#{collection}' required="#{field.required}")
						input.form-control(type='text', placeholder='#{field.placeholder}' )
				else
					label.col-sm-2.control-label(for='#{collection}') #{field.label}
					.col-sm-10
						input.form-control(type='#{field.type}', name='#{name}', id='#{collection}' placeholder='#{field.placeholder}' required="#{field.required}")

		.text-center
			.btn-group
				button.btn.btn-raised.btn-success(type='submit')
					i.glyphicon.glyphicon-floppy-save Agregar
				button.btn.btn-raised.btn-info(type='button', )
					i.fa.fa-plus-square-o Buscar
				a.btn.btn-raised.btn-danger(type='button')
					i.fa.fa-list Vaciar


block scripts
	script.
		$( ' [ name *= time ] ' ).datetimepicker( { 'locale' : 'es', 'format' : 'hh:mm A' } )
		$( ' [ name *= date ] ' ).datetimepicker( { 'locale' : 'es', 'format' : 'Y/M/d' } )







