extends ../templates/templateApp.jade

block title
	title Actividades

block titleSection
	p Actividades

block content
	section.activities
		each activity in activities
			article.activity(data-time='#{activity.time}' data-speech='#{activity.textSpeech}' data-id='#{activity._id}' data-text='#{activity.text}' data-tolerance = '#{activity.tolerance}')
				p.titleActivity #{activity.text}
				img.imgActivity(src='#{activity.img}', alt='')

				- if (activity.state.codeText == 'complete')
					- if (activity.state.detail.aClock)
						- var state = 'complete'
					- else
						- var state = 'warning'
				- else
					- var state = 'inprocess'

				article.reminder(data-statereminder = '#{state}')
					article.titleReminder
						p
					article.date
						span(rol='time')
						span.meridiem

	#confirmActivityWindow.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
					h4#myModalLabel.modal-title Modal title
				.modal-body
					.text-center
						if (children.stateHealth == 0)
							button.btn.btn-success.btn.btn-fab
								span.icon-voice

						else if (children.stateHealth == 1 || children.stateHealth == 2)
							button.btn.btn-success.btn.btn-fab(onclick='response("si")') Si
								span.icon-
							button.btn.btn-danger.btn.btn-fab(onclick='response("no")') No
								span.icon-
				.modal-footer
					button.btn.btn-danger(type='button', data-dismiss='modal') Volver

block scripts
	script(src='/js/activities.js')
