extends ../templates/templateApp.jade
block title
	title #{user.username}

block titleSection
	p Perfil #{user.username}

block content
	section.instructions
		h1 Visualiza y Edita tu informacion personal

	.row
		.col-md-12
			.well
				form#dataAssociated.form-horizontal(action='' method='POST')
					fieldset
						legend Mi Información

						.form-group.col-md-12
							input.form-control(type='number' name='idFamily' id='idFamily' value="#{associated.id}" placeholder='Identificación Familiar' required)
						.form-group.col-md-12
							input.form-control(type='text' name='nameParent' id='nameParent' value="#{associated.name}" placeholder='Nombre Familiar' required)
						.well
							fieldset
								legend Usuario
								.form-group.col-md-12
									input.form-control(type='text' name='usernameParent' id='usernameParent' value="#{associated.user.username}" placeholder='Usuario' required)
								.form-group.col-md-12
									input.form-control(type='password' name='passwordParent' id='passwordParent' value="#{associated.user.password}" placeholder='Contraseña' required)
							if associated.children
								fieldset
									legend Hijos
									ul
										for children in associated.children
											li #{children.name}

	.row
		.col-md-12
			.well
				form#changePassword.form-horizontal(action='/user/changePassword' method='POST')
					fieldset
						legend Cambiar Contraseña
						input.form-control(type="hidden" name='_id' value='#{user._id}')
						.form-group.col-md-12
							input.form-control(type='password', name='currentPassword', placeholder='Contraseña Actual', autofocus required)
						.form-group.col-md-12
							input.form-control(type='password', name='newPassword', placeholder='Nueva Contraseña', required)
						.form-group.col-md-12
							input.form-control(type='password', name='confirmNewPassword', placeholder='Repetir Contraseña', autofocus required)
						.form-group.alignItemsCenter.col-md-12
							button.btn.btn-success.btn-raised(type='submit')
								span Cambiar


	if associated.children
		.row
			.col-md-12
				.well
					form#changePasswordChildren.form-horizontal(action='/user/changePassword' method='POST')
						fieldset
							legend Cambiar Contraseña niñ@
							.form-group.col-md-12
								label(for='user') Niñ@
								select.form-control(type='date', name='_id' id='user' required)
									for children in associated.children
										option(value='#{children.user}') #{children.name}
							.form-group.col-md-12
								input.form-control(type='password', name='currentPassword', placeholder='Contraseña Actual', autofocus required)
							.form-group.col-md-12
								input.form-control(type='password', name='newPassword', placeholder='Nueva Contraseña', required)
							.form-group.col-md-12
								input.form-control(type='password', name='confirmNewPassword', placeholder='Repetir Contraseña', autofocus required)
							.form-group.alignItemsCenter.col-md-12
								button.btn.btn-success.btn-raised(type='submit')
									span Cambiar

block scripts
	script(src="/js/users.js")
